server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      # Enable service discovery routing
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      
      # Default filters for all routes
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      
      # Global CORS configuration
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:5173"
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - PATCH
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
            maxAge: 3600
      
      # Route definitions
      routes:
        # Auth Service
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/auth/(?<segment>.*), /api/auth/${segment}
        
        # User Service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**, /api/students/**, /api/institutions/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/${segment}
        
        # Scholarship Service
        - id: scholarship-service
          uri: lb://scholarship-service
          predicates:
            - Path=/api/scholarships/**, /api/applications/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/${segment}
        
        # Content Service (News & Blogs)
        - id: content-service
          uri: lb://content-service
          predicates:
            - Path=/api/news/**, /api/blogs/**, /api/categories/**, /api/tags/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/${segment}
        
        # Notification Service (Contact & Notifications)
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/contact/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/${segment}

# Eureka Client Configuration
eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@localhost:8761/eureka/
  instance:
    prefer-ip-address: true

# Management Endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true
    health:
      show-details: always

# Logging
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.scholarfinder: DEBUG

---
# Docker Profile
spring:
  config:
    activate:
      on-profile: docker

eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@discovery-service:8761/eureka/
