# Scholar-Finder API URL (Example)
VITE_API_URL=http://localhost:8080/api

# SMTP settings for notification-service email delivery
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=scottskyler057@gmail.com
MAIL_PASSWORD=zqixuegkitoavtvy
MAIL_FROM=scottskyler057@gmail.com
ADMIN_EMAIL=scottskyler057@gmail.com
SUPPORT_EMAIL=scottskyler057@gmail.com
